#header {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 15;
    -fx-text-fill: #117A65;
}

.section-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #1C2833;
}

.text-area {
    -fx-background-color: #FDFEFE;
    -fx-border-color: #D5DBDB;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}
